<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{fragments/header::head}"><title>Send Password</title></head>
<div class="container mt-4">
    <div class="form-container">
        <form method="POST" th:action="@{/sending-password/password}" th:object="${employee}">
            <input type="hidden" th:field="*{token}" />
            <h2 class="color-text">Hi,
                <span th:text="${employee.firstName}"></span>
                <span th:text="${employee.lastName}"></span><br/>
            </h2>

            <div class="form-group">
                <label for="password" class="color-text">Enter your password:</label>
                <input type="password" th:field="*{password}" id="password" class="form-control"
                       pattern="^\s*\S+(?:\s+\S+)*\s*$" required minlength="8" title="Password must be at least 8 characters">
                <ul><li th:each="err : ${#fields.errors('password')}" th:text="${err}" class="error"></li></ul>
            </div>
            <button type="submit" class="btn btn-primary">Create password</button>
        </form>
    </div>
</div>

<div th:if="${successMessage}" class="alert alert-success mt-3" role="alert">
                    <span th:text="${successMessage}"></span>
                </div>
