<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
    <div class="container mt-4">
        <div class="form-container">
            <h2 class="color-text">Add Employee</h2><br/>
            <form method="POST" th:action="@{/employee}" th:object="${employee}">
                <input type="hidden" th:field="*{employeeId}" />

                <div class="form-group">
                    <label for="firstName" class="color-text">First Name:</label>
                    <input type="text" id="firstName" th:field="*{firstName}" class="form-control"
                           pattern="^\s*\S+(?:\s+\S+)*\s*$" placeholder="Enter first name">
                    <ul><li th:each="err : ${#fields.errors('firstName')}" th:text="${err}" class="error"></li></ul>
                </div>

                <div class="form-group">
                    <label for="lastName" class="color-text">Last name:</label>
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control"
                           pattern="^\s*\S+(?:\s+\S+)*\s*$" placeholder="Enter last name">
                    <ul><li th:each="err : ${#fields.errors('lastName')}" th:text="${err}" class="error"></li></ul>
                </div>
                <div class="form-group">
                    <label for="email" class="color-text">Email:</label>
                    <input type="email" th:field="*{email}" id="email" class="form-control"
                           pattern="^\s*\S+(?:\s+\S+)*\s*$" placeholder="Enter email">
                    <ul><li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"></li></ul>
                </div>

                <button type="submit" class="btn btn-primary">Save Employee</button>
                <a href="/employees" class="btn btn-secondary" style="float: right;">Back to the list</a>
            </form>

            <div th:if="${successMessage}" class="alert alert-success mt-3" role="alert">
                <span th:text="${successMessage}"></span>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger mt-3" role="alert">
                <span th:text="${errorMessage}"></span>
            </div>
        </div>
    </div>
<div th:replace="~{fragments/footer :: footer}"></div>

