<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{fragments/header::head}">
<body>
<div th:replace="~{fragments/header::header}"></div>

<div class="container mt-4">
    <div class="d-flex justify-content-end mb-3">
        <a href="/employee" class="btn btn-primary">Create New Employee</a>
    </div>

    <div class="container mt-4">
        <form action="#" th:action="@{/search/employee}" method="get" class="d-flex justify-content-end mb-3">
            <input type="text" name="query" placeholder="Search employee">
            <button type="submit" class="btn btn-primary ml-2">Search</button>
        </form>
        <h1 class="mb-4">Employee List</h1>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, itr : ${employees}" th:if="${employee != null}">
                    <td th:text="${itr.index + 1}"></td>
                    <td th:text="${#strings.capitalize(employee.firstName.toLowerCase)}"></td>
                    <td th:text="${#strings.capitalize(employee.lastName.toLowerCase)}"></td>
                    <td th:text="${#strings.toLowerCase(employee.email.toString())}"></td>
                    <td>
                        <a th:href="@{/employee/{employeeId}(employeeId=${employee.employeeId})}"
                           class="btn btn-sm btn-warning">Edit</a>
                        <form th:action="@{/delete-employee/{employeeId}(employeeId=${employee.employeeId})}"
                              method="post" style="display:inline">
                            <input type="hidden" name="_method" value="DELETE"/>
                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer::footer}"></div>

