<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments/header::head}">
    <title>BizTravel</title>
</head>
<body>
    <div th:replace="~{fragments/headerBeforeAuth::header}"></div>

    <div class="overlay">
        <form class="login" th:action="@{/perform_login}" method="post">
           <div class="con">
               <div class="head-form">
                  <h2><b>Login</b></h2>
                  <p>login here using your email and password</p>
               </div>
               <br>
               <div class="field-set">
                   <span class="input-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                        </svg>
                    </span>
                   <input class="form-input" id="txt-input" type="email" placeholder="Email" name="email" required><br>

                   <span class="input-item">
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                            <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8m4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5"/>
                            <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                       </svg>
                   </span>
                   <input class="form-input" type="password" placeholder="Password" id="pwd" name="password" required><br>

                   <button type="submit" class="log-in button-login head-form"> Log In </button>

               </div>
                <div th:if="${param.error}" class="alert alert-danger" style="color: red;">
                    <p>Invalid email or password. Please try again.</p>
                </div>
                <button class="btn submits frgt-pass button-login">Forgot Password</button>
           </div>
        </form>
    </div>
    <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>
